{% extends "base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
{% endblock %}

{% block content %}
<section class="hero" style="background-color:#2F9599">
  <div class="container">
    <div class="columns">
      <div class="column is-6">
        <h1 class="title is-1 has-text-white">Text Annotation Tool</h1>
                <h2 class="subtitle is-4 has-text-white"> User login is required to have access to database.</h2>
                <h4 class="subtitle is-6 has-text-white"> Please reach out to me with any questions: hossein.naseri@mail.mcgill.ca </h4>

        <p>
        </p>
      </div>
      <div class="column is-5">
        <figure class="image">
          <img src="{% static 'assets/images/named_entity_recognition.png' %}">
        </figure>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block footer %}
{% render_bundle 'index' 'js' %}
{% endblock %}
